{% extends 'base.html' %}

{% block content %}

    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-8">

                                <h1 class="text-center fw-bold mb-5 mx-1 mx-md-4 mt-4">Удалить файл</h1>
                                <h5 class="text-center mb-5 mx-1 mx-md-4 mt-4"> Вы действительно хотите удалить? {{ object.file }}?</h5>

                                <form class="form" action="" method="POST">
                                    {% csrf_token %}

                                    <div class="text-center mb-5 mx-1 mx-md-4 mt-4">
                                        <a class="btn btn-outline-dark" href="{% url 'files_list' %}">Назад</a>
                                        <button class="btn btn-primary">Удалить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}